img.banner{
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}
.container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 30px auto;
}
.container > * {
    grid-column: 2;
}
.marker {
    grid-column: 1;
}
.marker.ingredients{
    align-self: center;
}
.share {
    width: max-content;
    border-color: #00754D;
    background-color: #00754D;
}
.share:hover,.share:focus  {
    border-color: #00754D;
    background-color: #003623;
}