/* -----------------------------------------
Global
----------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -----------------------------------------
Navigation bar
----------------------------------------- */

.nav-container {
  min-width: 300px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  z-index: 10;
  background-color: #ffedce;
}

/* -----------------------------------------
Homepage Hero
----------------------------------------- */
#hero {
  /*   background: url(./img/1491742014_fsasafsadasd.gif) center center / cover
    no-repeat; */
  position: relative;
  height: 100vh;
}

#hero_img {
  overflow: hidden;
  height: 52%;
}

#hero_img img {
  object-fit: cover;
}

#hero header {
  overflow-y: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 45%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#hero header::-webkit-scrollbar {
  display: none;
}

#hero_scroll {
  height: 3%;
}

#hero_scroll a {
  z-index: 2;
  display: block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-top: 5vh;
}

#hero_scroll a:hover span {
  opacity: 0.5;
}

#hero_scroll a span {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
  opacity: 0.2;
}

/* -----------------------------------------
Featured recipes
----------------------------------------- */
/* modifying Bootstrap class card */
.card {
  max-width: 350px !important;
}

/* -----------------------------------------
Recipe styling
----------------------------------------- */
img.banner {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  position: relative;
}

/* hover effect on banner image */
/* for absolute positioning inside this container */
.banner-container {
  position: relative;
}
/* put the element off screen */
.offscreen {
  position: absolute;
  top: 40%;
  left: -99999px;
}
/* put element on screen at hover over the image */
.banner-container:hover .offscreen {
  left: 50%;
}

.banner-container:hover img {
  opacity: 0.5;
}

/* center element */
.center-me {
  position: relative;
  left: -50%;
  color: inherit;
  font-size: 2rem;
  font-weight: bolder;
}

/* setting up a grid to position icons and numbers next to the regular text*/
.recipe-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 40px auto;
}
.recipe-grid > * {
  grid-column: 2;
}
.recipe-grid .marker {
  grid-column: 1;
}
/* share button styling */
.share {
  width: max-content;
  border-color: #00754d;
  background-color: #00754d;
}
.share:hover,
.share:focus {
  border-color: #00754d;
  background-color: #003623;
}
/* styling for recipe icon */
.recipe-icon {
  width: 30px;
}
