.d-flex {
  display: flex;
}

nav {
  flex-direction: column;
  background-color: #ffedce;
  width: 200px;
  min-height: 100vh;
}

nav ul {
  padding: 0 0 15px 0;
  list-style: none;
}

nav a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 10px;
}

nav a:hover {
  background-color: #00754d;
  text-decoration: none;
  color: black;
}

h3 {
  padding: 10px 0 0 10px;
  font-size: 1.2rem;
}

hr {
  width: 100%;
}
