/* -----------------------------------------
Global
----------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -----------------------------------------
Navigation bar
----------------------------------------- */

.nav-container {
  min-width: 300px;
}

/* modifying Bootstrap class card */
.card {
  max-width: 350px !important;
}

/* -----------------------------------------
Featured recipes
----------------------------------------- */

/* modifying Bootstrap class card */
.card {
  max-width: 350px !important;
}

/* -----------------------------------------
Recipe styling
----------------------------------------- */
img.banner {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
}

/* setting up a grid to position icons and numbers next to the regular text*/
.recipe-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 40px auto;
}
.recipe-grid > * {
  grid-column: 2;
}
.recipe-grid .marker {
  grid-column: 1;
}
/* share button styling */
.share {
  width: max-content;
  border-color: #00754d;
  background-color: #00754d;
}
.share:hover,
.share:focus {
  border-color: #00754d;
  background-color: #003623;
}
/* styling for recipe icon */
.recipe-icon {
  width: 30px;
}
