/* -----------------------------------------
Global
----------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1500px;
}

.flex {
  display: flex;
}

/* -----------------------------------------
Homepage
----------------------------------------- */

#hero {
  background: url(./img/1491742014_fsasafsadasd.gif) center center / cover
    no-repeat;
}

.featured-recipes {
  flex-wrap: wrap;
  justify-content: center;
  padding: 3em;
}

.recipe-card {
  margin: 0 0 6vh 3vw;
  max-width: 350px;
}
